.button-group-wrapper {
  display: flex;
  background-color: white;
  position: absolute;
  top: 30px;
  right: 60px;
  border-radius: 25px;
  padding: 10px 20px;
  z-index: 3;
}

.icon-button-color {
  color: #698290;
}
